@charset "UTF-8";

.wp_gallery {
	position: relative;
}

.wp_gallery .wp_gallery_inner {
	position: relative;
	width: 100%;
	height: 100%;
}

.wp_gallery .wp_target {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	width: 100%;
	scrollbar-width: none;
}

.wp_gallery .wp_target::-webkit-scrollbar {
	display: none;
}

.wp_gallery .wp_target > .wp_target_item {
	min-width: 100%;
	scroll-snap-align: start;
}
.wp_gallery .wp_target > .wp_target_item img {
	display: block;
	width: 100%;
}

.wp_gallery .wp_target > .wp_target_item {
	margin: 0;
	gap: 0;
}

.wp_gallery .wp-block-gallery.has-nested-images .wp_target_item figcaption {
	background: none;
	bottom: auto;
	color: #fff;
	font-size: inherit;
	left: auto;
	margin-bottom: 0;
	max-height: none;
	overflow: auto;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	font-size: 32px;
	text-shadow: 0 0 11px #00000099;
}

.wp_gallery .wp_gallery_thumb {
	position: relative;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 10;
}

.wp_gallery .wp_gallery_thumb.dot {
	position: absolute;
	bottom: 20px;
}

.wp_gallery .wp_gallery_thumb_item {
	color: #c6c6c6;
}

.wp_gallery .wp_gallery_thumb_item img {
	display: block;
	max-width: 100%;
}

.wp_gallery .wp_gallery_thumb_item:hover {
	cursor: pointer;
}

.wp_gallery .wp_gallery_thumb_item.active {
	color: #707070;
}

.wp_gallery .wp_gallery_thumb_item.active:hover {
	cursor: default;
	pointer-events: none;
}

.wp_gallery .wp_gallery_thumb.dot .wp_gallery_thumb_item::before {
	display: block;
	width: 11px;
	height: 11px;
	content: '';
	border-radius: 50%;
	background: #c6c6c6;
}

.wp_gallery .wp_gallery_thumb.dot .wp_gallery_thumb_item.active::before {
	background: #707070;
}

.wp_gallery.fade .wp_target {
	overflow: hidden;
	height: 100%;
}

.wp_gallery.fade .wp_target .wp_target_item {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 0;
	height: 100%;
}

.wp_gallery.fade .wp_target .wp_target_item.current {
	position: relative;
	opacity: 1;
	z-index: 2;
}

.wp_gallery.fade .wp_target_item.fadeIn {
	animation-duration: 800ms;
	animation-name: fadeIn;
	z-index: 1;
}

.wp_gallery.fade .wp_target_item.fadeOut {
	z-index: 2;
	animation-duration: 800ms;
	animation-name: fadeOut;
}

.wp_gallery .control {
	position: absolute;
	z-index: 10;
	width: 30px;
	height: 50px;
	padding: 5px;
	border: none;
	background: #0008;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
}

.wp_gallery .control:hover {
	cursor: pointer;
}

.wp_gallery .control svg {
	width: 100%;
	height: 100%;
	fill: #fff;
}

.wp_gallery .control.prev {
	left: 0;
}

.wp_gallery .control.next {
	right: 0;
}

.wp_gallery .control.active {
	pointer-events: none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
